@-moz-document domain('www.tumblr.com') {

  .activity_actions_index,
  .corp_page,
  .dashboard_index,
  .dashboard_lookup_lookup_contacts,
  .dashboard_messages_inbox,
  .dashboard_posts_likes,
  .dashboard_useraction_followers,
  .dashboard_useraction_following,
  .discover,
  .discover-controls-wrapper,
  .l-container--flex .l-content,
  .l-header-container,
  .l-header-container--refresh,
  .activity_actions_index .l-content,
  .activity_actions_index .l-content .left_column,
  .activity_actions_index .l-content .right_column,
  .dashboard_index .l-content,
  .dashboard_index .l-content .left_column,
  .dashboard_index .l-content .right_column,
  .dashboard_messages_inbox .l-content,
  .dashboard_messages_inbox .l-content .left_column,
  .dashboard_messages_inbox .l-content .right_column,
  .dashboard_posts_likes .l-content,
  .dashboard_posts_likes .l-content .left_column,
  .dashboard_posts_likes .l-content .right_column,
  .dashboard_useraction_followers .l-content,
  .dashboard_useraction_followers .l-content .left_column,
  .dashboard_useraction_followers .l-content .right_column,
  .tumblelog_mask_item,
  .tagged_actions_display,
  .tagged_actions_display .l-content,
  .tagged_actions_display .l-content .left_column,
  .tagged_actions_display .l-content .right_column,
  .tumblr_settings,
  .tumblr_settings .l-container .l-content,
  .tumblr_settings .l-container .l-content .right_column,
  .pages_logo_index,
  .post_avatar,
  .post_avatar_link,
  .search_results {
    background-color: #003d67 !important;
  }

  .discover-controls-wrapper {
    border-bottom: 1px solid #7F9DB2 !important;
    box-shadow: none !important;
  }

  .post_full .post_permalink {
  border-color: #003d67 #003d67 transparent transparent !important;
  }

  .l-header-container,
  .l-header-container--refresh {
    border-bottom: 1px solid #7F9DB2 !important;
    box-shadow:    none !important;
  }

  .compose-button {
    background:   #336385 !important;
    border-color: #336385 !important;
    color:        #9DB4C4 !important;
  }

  .compost-button:hover {
    background:   #529ECC !important;
    border-color: #529ECC !important;
    color:        #fff    !important;
  }

  .new_post_notice_container {
    border-color: #003d67 !important;
    color:        #003d67 !important;
  }

  .identity-refresh .controls_section li:not(.section_header):hover {
    background: #0C456D !important;
  }

  .discover-tumblelogs .info:before,
  .identity-refresh .controls_section.user_list li .follow_list_item_blog:before,
  .identity-refresh .radar .radar_footer .radar_avatar:before,
  .identity-refresh .radar .radar_footer .radar_avatar:hover:before {
    background-color: rgba(0, 61, 103, 0) !important;
    background-image: -webkit-linear-gradient(left, rgba(0, 61, 103, 0), #003d67) !important;
    background-image: linear-gradient(to right, rgba(0, 61, 103, 0), #003d67) !important;
    border-right: 5px solid #003d67 !important;
  }

  .discover-tumblelogs li:hover,
  .identity-refresh .controls_section.user_list li:hover .follow_list_item_blog:before {
    background-color: rgba(12, 69, 109, 0) !important;
    background-image: -webkit-linear-gradient(left, rgba(12, 69, 109, 0), #0C456D) !important;
    background-image: linear-gradient(to right, rgba(12, 69, 109, 0), #0C456D) !important;
  }

  .identity-refresh .controls_section.user_list li:hover .follow_list_item_blog:before {
    border-right: 5px solid #0C456D !important;
  }

  .identity-refresh .right_column:after {
    display: none !important;
  }

  .notifications_page .section.divider {
    background: none !important;
  }

  .ui_tops {
    border-bottom: none !important;
  }

  .right_column .follow {
    color: #9DB4C4 !important;
  }

  .yamplus-unit-container {
    display: none !important;
  }

  .takeover-container {
    display: none !important;
  }

}
